<sky-docs-demo-control-panel-theme
  (themeSettingsChange)="themeSettingsChange($event)"
></sky-docs-demo-control-panel-theme>

<div
  class="app-screenshot"
  id="lookup-visual"
>
  <form
    novalidate
    [formGroup]="form"
  >
    <div class="sky-form-group">
      <label
        class="sky-control-label"
        id="my-friends-label"
      >
        Who are your friends?
      </label>
      <sky-lookup
        ariaLabelledBy="my-friends-label"
        formControlName="friends"
        idProperty="id"
        placeholderText="Type a person's name..."
        [data]="people"
        [debounceTime]="1000"
      >
      </sky-lookup>
    </div>

    <p>
      <button
        class="sky-btn sky-btn-default"
        id="btn-disable-lookup"
        type="button"
        (click)="disableLookup()">
        Disable lookup
      </button>
    </p>

    <sky-input-box
      class="sky-margin-stacked-lg"
    >
      <label
        class="sky-control-label"
        skyId
        #friendsInputBoxLabel="skyId"
      >
        Who are your friends?
      </label>
      <sky-lookup
        formControlName="friends2"
        idProperty="id"
        placeholderText="Type a person's name..."
        [ariaLabelledBy]="friendsInputBoxLabel.id"
        [data]="people"
        [debounceTime]="1000"
      >
      </sky-lookup>
    </sky-input-box>

    <p>
      <button
        class="sky-btn sky-btn-default"
        id="btn-toggle-select-mode"
        type="button"
        (click)="toggleSelectMode()"
      >
        Toggle select mode
      </button>
    </p>

    <sky-input-box
      class="sky-margin-stacked-lg"
    >
      <label
        class="sky-control-label"
      >
        Who is your best friend?
      </label>
      <sky-lookup
        formControlName="bestFriend"
        idProperty="id"
        placeholderText="Type a person's name..."
        [selectMode]="bestFriendSelectMode"
        [data]="people"
        [debounceTime]="1000"
      >
      </sky-lookup>
    </sky-input-box>
    <ng-container *ngFor="let friend of form.value.bestFriend">
      {{ friend.name }}
    </ng-container>
  </form>
</div>

<table>
  <tr>
    <th>Touched</th>
    <td>{{ form.touched }}</td>
  </tr>
  <tr>
    <th>Pristine</th>
    <td>{{ form.pristine }}</td>
  </tr>
  <tr>
    <th>Valid</th>
    <td>{{ form.valid }}</td>
  </tr>
  <tr>
    <th>Value</th>
    <td>
      <ng-container *ngFor="let friend of form.value.friends">
        {{ friend.name }}
      </ng-container>
    </td>
  </tr>
</table>
